body {
    background-image: url(/assets/images/background_spring.webp);
    background-repeat: no-repeat;
    /* width: -webkit-fill-available; */
}

.site-head {
    text-align: center;
}

.nav-style {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boxrow {
    gap: 10px;
}

.box {
    display: flex;
    background-color: black;
    padding: 0;
    border: 0;
    margin: auto;
}

.gamegrid {
    width: fit-content;
    gap: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 7em);
    grid-template-rows: repeat(4, 7em);
}

.gamegrid-medium {
    width: fit-content;
    gap: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 7em);
    grid-template-rows: repeat(6, 7em);
}

.icon {
    background-color: none;
    filter: contrast(0);
    border-radius: 15px;
    opacity: 0.3;
    transition: 0.3s;
}

.revealed,
.matched {
    transform: rotateY(180deg);
    background-color: none;
    filter: none;
    border-radius: 15px;
    opacity: 1.0;
    transition: 0.3s;
}